*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --mainColor:#ffffff;
    --sectionColor:#F8F9FA;
    --secColor:#20C997;
    --thirColor:#DC3545;
    --fourColor:#6C757D;
    --fiveColor:rgba(0, 0, 0, 0.249);
    --titleColor1:#f0f0f0;
    --starColor:#FFD700;
    --maintransition: all .5s;
}
/* body{
    overflow-x: hidden;
} */

/* Start Header  */

header{
    width: 100%;
    background-image: url("../Image/imgi_11_intro-bg.jpg");
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
header .overlay{
        z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 20, 20, 0.7);
}

header .container{
    position: relative;
    z-index: 2;
}


header .container .logo {
    margin: 0;
}
header  .logo img{
    display: block;
}

header  nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
}
header  nav .fa-bars{
    display: none;
    background-color: #f0f0f0;
    font-size: 25px;
    cursor: pointer;
    color: white;
}
header nav .container ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    list-style: none;
    margin: 0;
}
header nav .container ul li{
    display: flex;
    align-items: center;
    margin: 0 25px;
}
header  nav .container ul li a{
    text-decoration: none;
    color: var(--mainColor);
    transition: all .5s;
}
header  nav .container ul li a.activeLink{
    color: var(--secColor);
}
header  nav .container ul li a:hover{
    color: var(--secColor);
}


header .container .slide{
    position: relative;
}

header .container .slide .inner{
    min-height: 100vh;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container .slide .inner .content{
    text-align: center;
    justify-content: space-around;

}
header .container .slide .inner .content h3{
    color:white;
    font-size:28px;
    font-weight: bolder;
}
header .container .slide .inner .content h1{
    font-weight: bolder;
    color: var(--secColor);
    font-size: 75px;
    
}
header .container .slide .inner .content h4{
    font-weight: bold;
    color: var(--mainColor);
}
header .container .slide .inner .content button{
    display:inline-block;
    background: none;
    margin-top:50px;
    padding:12px 35px;
    border:2px solid var(--secColor);
    border-radius:50px;
    color:var(--secColor);
    text-decoration:none;
    transition:.5s;
}
header .container .slide .inner .content button:hover{
    background-color: var(--secColor);
}
header .container .slide .inner .content button:hover a{
    color: var(--mainColor);
}
header .container .slide .inner .content button a{
    text-decoration: none;
    color: var(--secColor);
}
header nav .barLink ul{
    /* justify-content: flex-end; */
    /* align-items: end; */
    padding: 25px;
    text-align: end;
    background-color:rgba(0, 0, 0, 0.588);
}
header nav .barLink ul li a{
    text-decoration: none;
    color: white;
}
header nav .barLink ul li{
    list-style: none;
    margin: 25px 40px;
    /* border-bottom: #F8F9FA; */
    border-bottom: 2px solid #f8f9fa17 ;
}

@media screen and (min-width: 992px){
    header nav .barLink ul{
        display: none;
    }

}
@media screen and (max-width: 992px){

    header  nav .fa-bars{
        display: contents;

    }
    header .container .slide .inner .content h1{
        font-size: 60px;
    }

    header nav .container ul{
        display: none;
    }

    header nav ul li{
        margin: 0;
    }
}

@media screen and (max-width: 768px){

    header .content h1{
        font-size: 45px;
    }

    header .content h3{
        font-size: 22px;
    }

    header .content h4{
        font-size: 18px;
    }
}

/* End Header  */

/* Start About  */
.About{
    padding: 60PX;
}
/* .About .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */
.main-heading{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
 .main-heading h2{
    font-size: 120px;
    font-weight: 600;
    color: var(--titleColor1);
    /* position: relative; */
    text-transform: uppercase;
}
.main-heading p{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    /* z-index: 3; */
    font-size: 34px;
    color: black;
    font-weight: bolder;
}
.main-heading p::after{
    width: 50px;
    height: 2px;
    background-color: var(--secColor);
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    
}
.About .container .contentAbout {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.About .container .contentAbout .leftContent p{
    color: var(--fourColor);
}
.About .container .contentAbout .leftContent h3{
    font-weight: bolder;

}
.About .container .contentAbout .leftContent h3 span{
    color: var(--secColor);
    font-weight: bolder;
}
.About .container .contentAbout .rightContent{
position: relative;
}
.About .container .contentAbout .rightContent ul{
   list-style: none;
}
.About .container .contentAbout .rightContent ul li{
    margin:10px 0 ;
}
.sperat{
    height: .8px;
    width: 220px;
    background-color: var(--fourColor);
}

.About .container .contentAbout .rightContent ul li .email{
    text-decoration: none;
    color: var(--secColor);
}
.About .container .contentAbout .rightContent button{
    background-color: var(--secColor);
    border: 0;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin: 10px;
    position: absolute;
    left: 10%;
    border-color: white;
}
.About .container .contentAbout .rightContent button a{
    text-decoration: none;
    color: var(--mainColor);
}
.About .container .items{
    display: flex;
    margin: 50px 0;
    flex-wrap: wrap;
    color: var(--fourColor);
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About .container .items .item{
        padding: 10px;

}

@media screen and (max-width: 992px) {
    .container .main-heading h2{
        font-size: 90px;
    }

    .container .main-heading p{
        font-size: 28px;
    }
}
@media screen and (max-width: 768px){
    .container .main-heading h2{
        font-size: 70px;
    }

    .container .main-heading p{
        font-size: 22px;
    }
    .About .container .contentAbout{
        flex-direction: column;
    }

    .About .container .contentAbout .leftContent,
    .About .container .contentAbout .rightContent{
        width: 100%;
    }

    .About .container .contentAbout .rightContent{
        margin-top: 30px;
    }
}
@media screen and (max-width: 575px) {
    .container .main-heading h2{
        font-size: 50px;
    }

    .container .main-heading p{
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container .main-heading p::after{
        width: 40px;
    }
}
/* End About  */

/* SERVICES START  */

.services{
    background-color: var(--sectionColor);
}
.services .container .field{
    flex-wrap: wrap;
}
.services .container .field .fieldItem{
    padding: 25px;
}

.services .container .field .fieldItem .fieIcon{
    width: 65px;
    height: 65px;
    padding: 25px;
    margin: 0 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
}

.services .container .field .fieldItem .fieIcon i{
    color: var(--secColor);
    font-size: 35px;
}

/* SERVICES END  */

/* SUMMARY START */

.summary .container .contentSum .row{
    flex-wrap: wrap;

}

.summary .container .contentSum .elems .titleElem{
    font-size: 25px;
    font-weight: bolder;
}
.summary .container .contentSum .elems .elem{
    border: 2px solid rgba(0, 0, 0, 0.17);
    padding: 20px;
    border-radius: 5px;
    margin: 25px 0;
}
.summary .container .contentSum .elems .elem .year{
    background-color: var(--secColor);
    color: white;
    padding: 8px;
    border-radius: 10px;
    
}
.contentSum .elems .elem h5{
    margin: 10px 0;
}
.contentSum .elems .elem .univ {
    color: var(--thirColor);
    
}
.contentSum .elems .elem p {
    color: var(--fourColor);
}
    


.skill{
    margin: 20px 0;
}

.lifSkills, .righSkills {
    height: auto;
}
.titleSkill{
    font-size: 17px;
    display: inline-block;
    /* padding: 10px 0; */
}
.prog{
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background-color: var(--fiveColor);
}


.prog .limProg{
    height: 100%;
    border-radius: 10px;
    background: var(--secColor);
    /* width: 75%; */
}

.prog .limProg.web{width: 65%;}
.prog .limProg.React{width: 70%;}
.prog .limProg.htm{width: 95%;}
.prog .limProg.Angu{width: 60%;}
.prog .limProg.js{width: 80%;}
.prog .limProg.Bootst{width: 99%;}

.prog .limProg::after{
    position: absolute;
    content: "";
    top: -25px;   
    font-weight: bolder; 
}
.prog .limProg.web::after{
    content:"65%";
    left: 60%;
}
.prog .limProg.React::after{
    content:"70%";
    left: 65%;
}
.prog .limProg.htm::after{
    content:"95%";
    left: 90%;
}
.prog .limProg.Angu::after{ 
    content:"60%";
    left: 55%;
}
.prog .limProg.js::after{
    content: "80%";
    left: 75%;
}
.prog .limProg.Bootst::after{
    content: "99%";
    left: 94%;
}
.contentSum .cv{
    text-align: center;
}
.contentSum .cv button{
    padding: 8px 15px;
    border: 2px solid black;
    background: none;
    border-top: 0;
    border-bottom: 0;
    border-style: dashed;
    border-radius: 25px;
}
.contentSum .cv button a{
    text-decoration: none;
    color:black ;
}



/* SUMMARY END */

/* Portfolio Start  */
.portfolio{
    background-color: var(--sectionColor);
}
.portfolio .barPro{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.portfolio .barPro button{
    background: none;
    border: 0;
    color: black;
    position: relative;
    transition: all .5s;
}
.portfolio .barPro button:hover{
    color: var(--secColor);
}
.portfolio .barPro button::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secColor);
    transition: all .5s;
}
.portfolio .barPro button:hover::after{
    width: 50px;
}


.portfolio .container .part{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio .container img{
    width: 100%;
    display: block;
}
/* Portfolio End  */

/* Testimonial Start  */

.Testimonial .container .contentTest{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.Testimonial .container .contentTest .clint{
    background-color: var(--titleColor1);
    margin: 25px;
    /* width: 49%; */
    padding: 25px;
    border-radius: 10px;
}
.Testimonial .container .contentTest .clint .clHead{
    margin-bottom: 15px;
}
.Testimonial .container .contentTest .clint .clHead .titleClint span{
    color: rgba(0, 0, 0, 0.318);
}
.Testimonial .container .contentTest .clint .clHead .imgClint{
    margin-right:20px;
}
.Testimonial .container .contentTest .clint .clHead .imgClint img{
    border-radius: 50%;
}
.Testimonial .container .contentTest .clint .stars i{
    color:var(--starColor) ;
}
.Testimonial .container .footest{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Testimonial .container .footest .move {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #20c997;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Testimonial .container .footest .move span{
        display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(29, 14, 14, 0.425);
    transition: all 0.3s;
}

.Testimonial .container .footest .move span:hover{
    background-color: var(--secColor);
    width: 12px;
    height: 12px;
    
}
.Testimonial .container .footest .move .active{
    background-color: var(--secColor);
    
}

@media screen and (max-width: 768px){
    .Testimonial .container .contentTest{
        flex-wrap: wrap;
    }

}

/* Testimonial End  */

/* CONTACT START  */
.contact{
    background-color: var(--sectionColor);
}
.cotentCo{
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.lifCo{
    width: 30%;
}
.rightCo{
    width: 65%;
    text-align: center;
}

.rightCo h5,.lifCo h5{
    margin-bottom: 25px;
    font-size: 28px;
}
.lifCo p{
    line-height: 2;
    color: #555;
    margin-bottom: 25px;
}

.lifCo .linkCo a{
     display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}
.lifCo .linkCo a i{
    color: var(--secColor);
    font-size: 18px;
    width: 20px;
}
.lifCo h3{
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
}
.rightCo input{
    width: 49%;
    padding: 12px;
    border: 1px solid #ddd;
    outline: none;
}
.rightCo textarea{
    width: 100%;
    min-height: 150px;
    margin-top: 20px;
    padding: 12px;
    resize: vertical;
    border: 1px solid #ddd;
    outline: none;
}
.rightCo button{
    background-color: var(--secColor);
    border-radius: 25px;
    border: 0;
    width: 150px;
    height: 50px;
    margin: 10px;
    border-color: white;
    color: white;
        
}
.rightCo button:hover{
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px);
}
@media screen and (max-width:1199px) {
    .rightCo{
        width: 100%;
    }
}
/* CONTACT END  */


/* FOOTER START */

footer{
    text-align: center;
    padding: 20px;
}
footer p a{
    text-decoration: none;
    color: var(--secColor);
}


/* FOOTER END */